---
- hosts: all
  become: yes

  tasks:
    - name: Build Docker image
      community.docker.docker_image:
        name: "{{ image_name }}"
        tag: "{{ image_tag }}"
        source: build
        build:
          path: "{{ lookup('env','WORKSPACE') }}"
        force_source: yes

    - name: Stop old container
      community.docker.docker_container:
        name: "{{ container_name }}"
        state: absent
        ignore_errors: yes

    - name: Run new container
      community.docker.docker_container:
        name: "{{ container_name }}"
        state: started
        image: "{{ image_name }}:{{ image_tag }}"
        restart_policy: always
        ports:
          - "9090:80"
